// This is the project stylesheet

// Colors
$transparent-white: rgba(255, 255, 255, 0.35);
$transparent-white-2: rgba(255, 255, 255, 0.15);
$white: rgba(255, 255, 255, 1);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');